/* Spez News Web application */

html {
	font-family: 'Karla', sans-serif;
	overflow-x: hidden;
}

body {
	margin: 0px;
}
span {
	margin-top: 16px;
	margin-bottom: 16px;
}

#header {
	height: 21px;
	z-index: 100;
	color: #F5F5F5;
	background-color: #FF5F5F;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	padding: 16px 24px !important;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

#dialogback-menu {
	opacity: 0;
	background-color: #000000;
	width: 100%;
	z-index: 98;
	position: fixed;
	transition: visibility 0.5s, opacity 0.5s linear;
	-webkit-transition: visibility 0.5s, opacity 0.5s linear;
	-moz-transition: visibility 0.5s, opacity 0.5s linear;
	-ms-transition: visibility 0.5s, opacity 0.5s linear;
	-o-transition: visibility 0.5s, opacity 0.5s linear;
	height: 100vh;
}

#menu {
	z-index: 99;
	opacity: 1 !important;
	background-color: #f5f5f5;
	width: 256px;
	height: 100vh;
	position: fixed;
	visibility: hidden;
	left: -256px;
	transition: left 0.5s;
	-webkit-transition: left 0.5s linear;
	-moz-transition: left 0.5s linear;
	-ms-transition: left 0.5s linear;
	-o-transition: left 0.5s linear;
}

#header-btn {
	color: #F5F5F5!important;
}

a {
	font-weight: 700;
	color: #3bb0b2 !important;
}

.rssdog {
	color: c5c5c5;
	list-style-image: none;
	list-style: none;
	list-style-type: none;
}

table {
	padding: 24px;
}

iframe {
	border: none;
	width: 100%;
	height: calc(100vh - 21px - 32px);
	overflow:hidden
}